body{
	font: .8125em/1.46153845153846em 'Helvetica Neue', Helvetica, Arial, sans-serif; //13px/19px
	color: $mediumTextColor;
	background: $lightBackgroundColor;
	}
	
a{
	text-decoration: none;
	color: $linkColor;
	font-weight: bold;
	}