// Text colors
$lightTextColor: #999;
$mediumTextColor: #777;
$darkTextColor: #444;
$linkColor: blue;

// Background colors
$darkBackgroundColor: #444;
$mediumBackgroundColor: #ccc;
$lightBackgroundColor: #fff;
$activeColor: #006EFC;

// Border colors
$lightBorderColor: darken($lightBackgroundColor, 10%);
$mediumBorderColor: darken($mediumBackgroundColor, 10%);
$darkBorderColor: darken($darkBackgroundColor, 10%);

// Spacing
$smallSpace: 10px;
$mediumSpace: 20px;
$largeSpace: 40px;

// Mixins
@mixin clearfix{
	zoom: 1;
	&:before,
	&:after{
		content:"";
		display: table;
		}
	&:after{
		clear:both;
		}
	}